<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detalhes Professor</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
    <ion-button (click)="editaProfessor()">Editar</ion-button>
    <lgj-button textoDoBotao="Lucas Editar" (clickRetorno)="editaProfessor()"></lgj-button>
    <ion-card>
      <ion-img [src]="professor.url_foto"></ion-img>
    <ion-card-header>
        <ion-card-title>{{professor.nome}} {{professor.sobrenome}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <p>{{professor.info}}</p>
    </ion-card-content>
    </ion-card>
</ion-content>
